<h1>
  Student ID and Cohort ID
</h1>

<div>
  ID:
  <%= @studentcohort.id %>
</div>
<div>
  Student ID:
  <%= @studentcohort.student_id %>
</div>
<div>
  Cohort ID:
  <%= @studentcohort.cohort_id %>
</div>
