<h1>
  Instructor ID and Cohort ID
</h1>

<div>
  ID:
  <%= @instructorcohort.id %>
</div>
<div>
  Instructor ID:
  <%= @instructorcohort.instructor_id %>
</div>
<div>
  Cohort ID:
  <%= @instructorcohort.cohort_id %>
</div>
